<div class="card">
  <div class="card-header">
    <h2>
      <a href="/post/{{id}}">
        <div>
          {{title}}
        </div>
      </a>
    </h2>
    <div>posted by {{user.username}} on {{ format_date createdAt}}</div>
  </div>
  <p class="card-body">
    {{post_content}}
  </p>
</div>